.footer {
  border-top: 1px solid #cfd0d1;

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  p {
    @include open-sans;
    color: #7e8183;
    font-size: 14px;
    line-height: 22px;

  }
}

@media (max-width: 992px) {
  .footer p {
    font-size: 12px;
    line-height: 18px;
  }
}
