.header {
  .container {
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    width: 95px;
    height: 95px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #686a6b;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
      opacity: .6;
    }

  }

  &__logo-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: $light-black;

    span {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__mobile-wrapper {
    display: flex;
    transition: all .7s;

    &._active {
      top: 0;
    }
  }


  &__language-item {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s;

    &:nth-child(1) {
      margin-right: 7px;
    }

    &:nth-child(2) {
      margin-right: 7px;
      margin-left: 7px;
    }

    &:nth-child(3) {
      margin-left: 7px;
    }

    &:hover {
      opacity: .6;
    }

    &._active {
      font-weight: 400;
      color: $light-black;
      text-decoration: none;
      pointer-events: none;
    }
  }

  &__language {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 22px;
  }

  &__socials {
    display: flex;

  }

  &__socials-link {
    transition: all .3s;
    display: block;
    width: 32px;
    height: 32px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.menu {
  align-self: flex-end;
  margin: 0 75px 13px 10px;

  &__list {
    display: flex;

    li {

      &:not(:last-child) {
        margin-right: 35px;
      }

      &:hover {
        a {
          color: $newblack;
        }
      }

      &._active {

        a {
          color: $newblack;
          pointer-events: none;
        }
      }
    }

    a {
      line-height: 30px;
      font-weight: 700;
      color: #8b8d90;
      transition: all .3s;
    }
  }
}

.menu-hamburger {
  align-self: center;
  display: none;

  svg {
    pointer-events: none;
  }
}

.menu-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;

  svg {
    pointer-events: none;
  }
}

@media(max-width: 1220px) {
  .menu {
    margin-right: 0;
  }

  .header__mobile-wrapper {
    flex-direction: column-reverse;
  }

  .header__item {
    display: flex;
    justify-content: end;
  }

  .header__language {
    margin-right: 20px;
  }
}

@media(max-width: 992px) {
  .header .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__logo-title {
    max-width: 200px;
    line-height: 22px;
  }

  .header__logo-link {
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    padding: 10px;
  }

  .menu__list li:not(:last-child) {
    margin-right: 20px;
  }
}

@media(max-width: 768px) {
  .header .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__mobile-wrapper {
    margin: 0;
    padding: 40px 20px;
    position: fixed;
    left: 0;
    top: -150%;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }

  .menu-close {
    display: block;

  }

  .menu-hamburger {
    display: block;

    &:active {
      transform: scale(.9);
    }
  }

  .menu {
    margin: 0 auto 20px;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
  }

  .menu__list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__item {
    justify-content: space-around;
  }

}

