.page-articles-all {
    color: $newblack;

    .information {
        .container {
            padding-top: 50px;
            padding-bottom: 60px;
        }

        &__content {
            display: flex;
            justify-content: end;
        }

        &__title {
            margin-bottom: 38px;
            margin-left: -115px;
            font-size: 112px;
            line-height: 132px;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
        }

        &__left {
            margin-right: 48px;
            text-align: right;
        }

        &__description {
            max-width: 656px;
            margin-bottom: 38px;
            font-size: 50px;
            line-height: 65px;
            font-weight: 300;
        }

        &__socials {
            display: flex;
            justify-content: end;
            padding-right: 5px;
        }

        &__socials-link {
            width: 53px;
            height: 53px;
            display: block;
            transition: all .3s;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &:hover {
                opacity: .6;
            }
        }

        &__right {
            max-width: 350px;
            padding-top: 10px;

            >p {
                font-size: 14px;
                line-height: 22px;
                font-weight: 300;
            }
        }

        &__subtitle {
            max-width: max-content;
            margin-bottom: 23px;
            padding: 5px 22px;
            font-size: 30px;
            line-height: 50px;
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
            background-color: $newblack;
        }
    }

    .articles {
        .container {
            padding: 0 10px 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 350px;
            margin: 0 10px 45px;

            img {
                display: block;
                height: 350px;
                margin-bottom: 16px;
                object-fit: cover;
            }

            >h3 {
                margin-bottom: 13px;
                font-size: 50px;
                line-height: 55px;
                font-weight: 900;
                text-transform: uppercase;
                color: $otherblack;
            }

            >p {
                margin-bottom: 8px;
                font-size: 24px;
                line-height: 30px;
                font-weight: 300;
            }

            >a {

                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                text-decoration: underline;
                color: $newblack;
                transition: all 0.3s;

                &:hover {
                    color: $newgrey;
                }
            }

            &._big-block {
                width: 755px;

                >h3 {
                    margin-bottom: 10px;
                    font-size: 70px;
                    line-height: 65px;
                }

                >p {
                    max-width: 500px;
                    margin-bottom: 15px;
                    font-size: 40px;
                    line-height: 50px;
                }

                >a {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        &__statistics {
            display: flex;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
            color: $newgrey;
        }

        &__date {
            margin-right: 20px;
            padding-left: 26px;
            position: relative;

            &::before {
                content: url('../img/date.png');
                position: absolute;
                left: 2px;
                top: 2px;
            }
        }

        &__view {
            padding-left: 28px;
            position: relative;

            &::before {
                content: url('../img/view.png');
                position: absolute;
                left: 2px;
                top: 2px;
            }
        }
    }



}