.page-home {

  .slider {
    .container {
      max-width: 1920px;
      padding: 0;
      position: relative;
    }


    &__content {
      position: absolute;
      z-index: 5;
      display: flex;
      left: 50%;
      transform: translateX(-53%);
      bottom: 20px;
      color: $white;
      align-items: center;
    }

    &__word {
      margin-right: 28px;
      font-size: 256px;
      line-height: 358px;
      font-weight: 700;
      text-transform: uppercase;

    }

    &__wrapper {
      min-width: 260px;
      width: 260px;
    }

    &__text {
      margin-bottom: 15px;
      font-size: 50px;
      line-height: 62px;
      font-weight: 300;
      text-transform: uppercase;
    }

    &__socials {
      display: flex;
    }

    &__socials-link {
      display: block;
      transition: all .3s;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:hover {
        filter: invert(.3);
      }
    }

    .swiper-slide {
      img {
        object-fit: cover;
        height: 640px;
        display: block;
      }
    }
  }

  .about {
    .container {
      padding-top: 50px;
      padding-bottom: 54px;
      color: $newblack;
    }

    &__title {
      margin-bottom: 30px;
      padding-left: 18px;
      font-size: 110px;
      line-height: 130px;
      font-weight: 900;
      text-transform: uppercase;

      span {
        display: none;
      }
    }

    &__row {
      display: flex;
      justify-content: flex-end;
    }

    &__subtitle {
      max-width: 696px;
      margin-right: 52px;
      font-size: 50px;
      line-height: 60px;
      font-weight: 300;
      text-align: right;
    }

    &__description {
      padding-top: 7px;
      max-width: 350px;

      p {
        @include open-sans;

        &:first-of-type {
          margin-bottom: 23px;
        }
      }

      strong {
        font-weight: 700;
      }
    }

    &__warning {
      max-width: max-content;
      margin-bottom: 27px;
      padding: 10px 20px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      color: $white;
      background-color: $newblack;
    }
  }

  .priority {
    background-color: $newblack;

    &__inner {
      padding: 55px 0 70px 52px;
      display: flex;
      color: $white;
    }

    &__title-wrapper {
      margin-right: 50px;

      p {
        margin-top: 14px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 300;
        text-align: right;
        text-transform: none;
      }
    }

    &__title {
      font-size: 70px;
      line-height: 80px;
      font-weight: 900;
      text-transform: uppercase;

      span {
        display: none;
      }
    }

    &__list {
      max-width: 350px;
      padding-top: 10px;

      li {
        padding-left: 15px;
        @include open-sans;
        position: relative;

        &::before {
          position: absolute;
          left: 0;
        }

        &:not(:last-child) {
          margin-bottom: 18px;

          &::before {
            content: '\2013';
          }
        }

        &:last-child {
          &::before {
            content: '\2026';
          }
        }
      }
    }
  }

  .services {
    border-bottom: 1px solid #a0a1a4;

    .container {
      padding-top: 58px;
      padding-bottom: 77px;
      color: $newblack;
    }

    &__row {
      display: flex;
    }

    &__col-left {
      max-width: 360px;
      margin-right: 43px;
      text-align: right;

      p {
        @include open-sans;
        padding-left: 10px;
      }

      a {
        font-weight: 700;
        text-decoration: underline;
        color: $newblack;
        transition: all .3s;

        &:hover {
          color: $newgrey;
        }
      }
    }

    &__title {
      margin-bottom: 18px;
      font-size: 70px;
      line-height: 80px;
      font-weight: 900;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      span {
        display: none;
      }
      br {
        &:first-of-type {
          display: none;
        }
      }
    }

    &__col-right {
      max-width: 750px;
      padding-top: 90px;

      > p {
        margin-bottom: 25px;
        @include open-sans;

      }
    }

    &__subtitle {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }

    &__addresses {
      margin-bottom: 40px;
      @include open-sans;

      li {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }

      span {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
      }

    }

    &__list {
      margin-bottom: 22px;

      li {
        padding-left: 20px;
        font-weight: 300;
        position: relative;

        &::before {
          content: '\2013';
          position: absolute;
          left: 0;
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    &__price {
      li {

        &:not(:last-child) {
          margin-bottom: 27px;
        }
      }

      h5 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 300;
      }

      p {
        @include open-sans;
      }
    }
  }

  .employees {
    .container {
      color: $newblack;
      padding-top: 64px;
      padding-bottom: 4px;
    }

    &__title {
      margin-bottom: 47px;
      font-size: 70px;
      line-height: 80px;
      font-weight: 900;
      text-transform: uppercase;

      br,
      span{
        display: none;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;


      li {
        display: flex;
        width: 48%;
        margin-bottom: 77px;

        &:nth-child(odd) {
          margin-right: 40px;
        }
      }
    }

    &__image {
      min-width: 140px;
      min-height: 140px;
      width: 140px;
      height: 140px;
      margin-right: 35px;
      border-radius: 50%;
      overflow: hidden;
    }


    &__name {
      margin: -4px 0 7px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: $newblack;
    }

    &__description {
      margin-bottom: 13px;
      @include open-sans

    }

    &__socials-wrapper {
      display: flex;
    }

    &__socials-link {
      width: 31px;
      height: 31px;
      transition: all .3s;

      svg {
        width: 100%;
        height: 100%;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &:hover {
        opacity: .6;
      }
    }
  }

  .information {
    background-color: $newblack;
    color: $white;

    .container {
      padding-top: 55px;
      padding-bottom: 100px;
      display: flex;
    }

    &__col-left {
      max-width: 354px;
      margin-right: 50px;
      padding-top: 10px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__top {
      padding-left: 40px;

      > p {
        margin-bottom: 23px;
        @include open-sans;
      }

      strong {
        font-weight: 700;
      }
    }

    &__bottom {
      padding-left: 24px;

      > p {
        @include open-sans;

        &:first-of-type {
          margin-bottom: 45px;

        }

        &:last-of-type {
          font-weight: 700;

          br {
            display: none;
          }
        }
      }
    }

    &__subtitle-bg {
      max-width: max-content;
      margin: 0 0 24px auto;
      padding: 4px 19px;
      font-size: 30px;
      line-height: 50px;
      font-weight: 700;
      color: $light-black;
      background-color: $white;
    }

    &__col-right {
      max-width: 760px;

      p, li {
        @include open-sans;
      }

      > p {
        margin-bottom: 24px;

        &:last-of-type {
          margin-bottom: 46px;
        }
      }
    }

    &__title {
      margin-bottom: 40px;
      font-size: 70px;
      line-height: 80px;
      font-weight: 900;
      text-transform: uppercase;
      span {
        display: none;
      }
    }

    &__subtitle-light {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;

      br {
        display: none;
      }
    }

    &__list {
      margin-bottom: 24px;

      li {
        padding-left: 13px;
        font-weight: 700;
        position: relative;

        &::before {
          content: '\2013';
          position: absolute;
          left: 0;
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    &__body-parts-wrapper {
      margin-bottom: 115px;

      li {
        font-weight: 700;
      }

      ul, p {
        margin-bottom: 24px;
      }
    }
  }

  .post-scriptum {
    .container {
      padding-top: 8px;
      padding-bottom: 70px;
      display: flex;
      justify-content: center;
    }

    &__title {
      max-width: 315px;
      margin: 0 60px 0 20px;
      font-size: 176.2px;
      line-height: 216px;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__text {
      max-width: 758px;
      padding-top: 40px;

      p {
        @include open-sans;

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }
}
