.page-reviews {
  color: $newblack;

  .information {
    .container {
      padding-top: 50px;
      padding-bottom: 60px;
    }

    &__content {
      display: flex;
      justify-content: end;
    }

    &__title-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
    }

    &__title {
      width: 770px;
      margin-right: 48px;
      font-size: 110px;
      line-height: 132px;
      font-weight: 900;
      text-align: right;
      text-transform: uppercase;
    }

    &__clearfix {
      display: block;
      width: 350px;
    }

    &__left {
      width: 755px;
      margin-right: 48px;
      text-align: right;
    }

    &__description {
      max-width: 656px;
      margin: 0 0 15px auto;
      font-size: 50px;
      line-height: 60px;
      font-weight: 300;
    }

    &__socials {
      display: flex;
      justify-content: end;
      padding-right: 5px;
    }

    &__socials-link {
      width: 53px;
      height: 53px;
      display: block;
      transition: all .3s;

      &:not(:last-child) {
        margin-right: 11px;
      }

      &:hover {
        opacity: .6;
      }
    }

    &__right {
      width: 350px;
      padding-top: 17px;

      > p {
        @include open-sans;
      }
    }

    &__subtitle {
      max-width: max-content;
      margin-bottom: 25px;
      padding: 12px 18px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      color: $white;
      background-color: $newblack;
    }

    &__link {
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 24px;
      color: #040000;
      font-weight: 700;
      text-decoration: underline;
      transition: all .3s;

      &:hover {
        color: $newgrey;
      }
    }
  }

  .reviews {
    .container {
      padding-bottom: 40px;
       }
    &__list {

      column-count: 3;
      orphans: 1;
      widows: 1;
      margin: 0 -13px 0 -27px;
     a {
        display: inline-block;
        min-width: 350px;
        width: 350px;
        word-wrap: break-word;
        margin: 0 27px 30px;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);

        img {
          display: block;
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  .fslightbox-toolbar-button.fslightbox-flex-centered {
    &:first-child {
      display: none;
    }
  }

  .fslightbox-nav {
    top: 15%;
  }

  .fslightbox-toolbar {
    right: 20%;
  }

  .fslightbox-slide-number-container {
    display: none;
  }

  .fslightbox-container {
    z-index: 99 !important;

  }

  .fslightbox-slide-btn-container-next {
    right: 10%;
  }

  .fslightbox-slide-btn-container-previous {
    left: 10%;
  }

  .fslightbox-absoluted.fslightbox-full-dimension.fslightbox-flex-centered {
    align-items: flex-end;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: center bottom;

    > div {
      overflow-y: auto !important;;
      height: 730px;

      img {
        width: 460px !important;
        height: max-content !important;
        display: block;
        margin: 0;

      }
    }
  }

}
