@media(max-width: 1220px) {
  .page-article-one .article__list {
    min-width: 300px;
  }

}

@media(max-width: 992px) {
  .page-article-one .article__title,
  .page-article-one .article__content > h2 {
    font-size: 65px;
    line-height: 70px;
  }
  .page-article-one .article__statistics {
    margin-bottom: 15px;
  }

  .page-article-one .article__list {
    display: none;
  }
  .page-article-one .article__content {
    margin-right: 0;
  }
  .page-article-one .article__content > p,
  .page-article-one .article__wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
  .page-article-one .article__content h3,
  .page-article-one .article__wrapper._light h3{
    font-size: 40px;
    line-height: 45px;
  }

  .page-article-one .article__wrapper strong {
    font-size: 16px;
    line-height: 24px;
  }
  .page-article-one .article__wrapper._light p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media(max-width: 768px) {
  .page-article-one .article__title,
  .page-article-one .article__content > h2 {
    font-size: 45px;
    line-height: 50px;
    word-break: break-word;
  }
  .page-article-one .article__content > img {
    width: 100%;
    height: 280px;
  }
  .page-article-one .article__content > p,
  .page-article-one .article__wrapper p {
    font-size: 13px;
    line-height: 18px;
  }
  .page-article-one .article__content h3,
  .page-article-one .article__wrapper._light h3{
    font-size: 28px;
    line-height: 32px;
  }
  .page-article-one .article__wrapper strong {
    font-size: 14px;
    line-height: 22px;
  }
  .page-article-one .article__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .page-article-one .article__btn-share {
    margin: 15px 0;
  }
}
