@media(max-width: 1220px) {
  section .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-home .slider__content {
    transform: translateX(-50%);
  }

  .page-home .slider .swiper-slide img {
    height: 540px;
  }

  .page-home .slider__socials-link,
  .page-home .slider__socials-link svg {
    width: 45px;
    height: 45px;
  }

  .page-home .about__title {
    font-size: 80px;
    line-height: 90px;
  }

  .page-home .priority__inner {
    position: relative;
    padding-top: 140px;
    justify-content: space-between;
  }
  .page-home .priority__title {
    font-size: 65px;
    line-height: 70px;
    position: absolute;
    top: 50px;
  }
  .page-home .services__title,
  .page-home .information__title {
    font-size: 65px;
    line-height: 70px;
  }

}

@media(max-width: 992px) {
  .page-home .slider .swiper-slide img {
    height: 500px;
  }

  .page-home .slider__word {
    font-size: 217.4px;
    line-height: 304px;
  }

  .page-home .slider__socials-link,
  .page-home .slider__socials-link svg {
    width: 35px;
    height: 35px;
  }

  .page-home .slider__socials-link:not(:last-child) {
    margin-right: 20px;
  }
  .page-home .priority__inner {
    justify-content: flex-end;
  }
  .page-home .slider__wrapper {
    min-width: 275px;
    width: 275px;
  }

  .page-home .slider__text {
    font-size: 42.5px;
    line-height: 52px;
    font-weight: 300;
  }

  .page-home .slider__content {
    bottom: 30px;
  }

  .page-home .about__title,
  .page-home .employees__title {
    font-size: 65px;
    line-height: 70px;
  }

  .page-home .about__subtitle {
    font-size: 40px;
    line-height: 45px;
  }
  .page-home .about__warning {
    font-size: 24px;
    line-height: 30px;
  }
  .page-home .about__description p,
  .page-home .services__col-right > p,
  .page-home .employees__description,
  .page-home .information__top > p,
  .page-home .information__col-right p,
  .page-home .information__col-right li,
  .page-home .information__body-parts-wrapper ul,
  .page-home .information__body-parts-wrapper p,
  .page-home .information__bottom > p,
  .page-home .post-scriptum__text p {
    font-size: 14px;
    line-height: 21px;
  }
  .page-home .priority__inner {
    padding-bottom: 60px;
  }
  .page-home .priority__title-wrapper {
    max-width: 325px;
  }
  .page-home .priority__title-wrapper p {
    font-size: 40px;
    line-height: 45px;
  }

  .page-home .services__row {
    flex-direction: column;
  }
  .page-home .services__col-right {
    max-width: 100%;
    padding-top: 40px;
  }
  .page-home .services__col-right .services__title {
    max-width: 500px;
  }
  .page-home .services__col-left {
    max-width: 100%;
    margin-right: 0;
    padding-left: 65px;
    text-align: right;
  }
  .page-home .services .container {
    padding-top: 40px;
  }

  .page-home .employees__list li {
    width: 100%;
  }
  .page-home .employees__name {
    font-size: 21px;
    line-height: 26px;
  }

  .page-home .information__subtitle-bg {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px;
  }

  .page-home .information .container {
    flex-direction: column;
    position: relative;
    padding-bottom: 230px;
  }
  .page-home .information__col-left {
    max-width: 100%;
    margin-right: 0;
  }
  .page-home .information__col-right {
    max-width: 100%;
  }
  .page-home .information__bottom {
    position: absolute;
    bottom: 50px;
    padding-left: 0;
    right: 40px;
  }

  .page-home .main br {
    display: none;
  }

  .page-home .post-scriptum .container {
    flex-direction: column;
  }

  .page-home .post-scriptum__title {
    font-size: 140px;
    line-height: 216px;
    margin: 0;
  }
  .page-home .post-scriptum__text {
    padding-top: 0;
  }


}

@media(max-width: 768px) {
  .header > .container {
    margin-top: 0;
  }
  section .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-home .slider__content {
    flex-direction: column;

  }
  .page-home .slider__wrapper {
    width: 100%;
  }
  .page-home .slider__word {
    font-size: 144px;
    line-height: 201px;
    margin-right: 0;
    margin-left: -9px;
  }
  .page-home .slider__text {
    font-size: 31.4px;
    line-height: 55px;
  }

  .page-home .about .container {
    padding-top: 30px;
  }

  .page-home .about__title,
  .page-home .priority__title,
  .page-home .services__title,
  .page-home .information__title,
  .page-home .about__title,
  .page-home .employees__title{
    font-size: 45px;
    line-height: 50px;
    padding-left: 0;
    word-break: break-word;
  }
  .page-home .about__row {
    flex-direction: column;
  }

  .page-home .about__subtitle {
    margin-right: 0;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .page-home .about__warning {
    font-size: 20px;
    line-height: 30px;
  }

  .page-home .about__description p, .page-home .services__col-right > p, .page-home .employees__description,
  .page-home .information__top > p, .page-home .information__col-right p, .page-home .information__col-right li,
  .page-home .information__body-parts-wrapper ul, .page-home .information__body-parts-wrapper p, .page-home .information__bottom > p,
  .page-home .post-scriptum__text p,
  .page-home .priority__list li,
  .page-home .services__col-left p,
  .page-home .services__addresses,
  .page-home .services__price p{
    font-size: 13px;
    line-height: 18px;
  }

  .page-home .priority__inner {
    flex-direction: column;
    padding-left: 0;
  }

  .page-home .priority__title-wrapper p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .page-home .services__col-left {
    padding-left: 0;
  }

  .page-home .services__col-right .services__title {
    max-width: 80%;
  }

  .page-home .services__subtitle {
    font-size: 20px;
    line-height: 26px;
  }
  .page-home .services__price h5 {
    font-size: 20px;
    line-height: 30px;
  }
  .page-home .employees__list li {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .page-home .employees__image {
    min-width: 130px;
    min-height: 130px;
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .page-home .employees__name {
    font-size: 18px;
    line-height: 24px;
  }

  .page-home .information .container {
    padding-bottom: 300px;
  }
  .page-home .post-scriptum .container {
    padding-top: 0;
  }
  .page-home .post-scriptum__title {
    font-size: 110px;
    line-height: 216px;
  }
}
