@media(max-width: 1220px) {
  .page-home .slider__content {
    transform: translateX(-50%);
  }

  .page-home .slider .swiper-slide img {
    height: 540px;
  }

  .page-home .slider__socials-link,
  .page-home .slider__socials-link svg {
    width: 45px;
    height: 45px;
  }

  .page-home .about__title {
    font-size: 80px;
    line-height: 90px;
  }

  .page-home .priority__inner {
    position: relative;
    padding-top: 140px;
    justify-content: space-between;
  }
  .page-home .priority__title {
    font-size: 65px;
    line-height: 70px;
    position: absolute;
    top: 50px;
  }
  .page-home .services__title,
  .page-home .information__title {
    font-size: 65px;
    line-height: 70px;
  }
}

@media(max-width: 992px) {
  .page-home .slider__socials-link:not(:last-child) {
    margin-right: 13px;
  }
  .page-home .slider .swiper-slide img {
    height: 500px;
  }

  .page-home .slider__word {
    margin-right: 20px;
    font-size: 217.4px;
    line-height: 304px;
  }

  .page-home .slider__socials-link,
  .page-home .slider__socials-link svg {
    width: 45px;
    height: 45px;
  }
  .page-home .about .container {
    padding-top: 35px;
    padding-bottom: 46px;
  }

  .page-home .slider__wrapper {
    min-width: 240px;
    width: 240px;
  }

  .page-home .slider__text {
    font-size: 42.5px;
    line-height: 52px;
    font-weight: 300;
  }

  .page-home .slider__content {
    bottom: 3px;
  }

  .page-home .about__title {
    padding-left: 9px;
    font-size: 65px;
    line-height: 70px;
  }

  .page-home .about__subtitle {
    margin-right: 32px;
    font-size: 40px;
    line-height: 45px;
  }
  .page-home .about__description {
    max-width: 325px;
    padding-top: 0;
  }
  .page-home .about__warning {
    padding: 10px 16px;
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 30px;
  }
  .page-home .about__description p:first-of-type {
    margin-bottom: 21px;
  }
  .page-home .about__description p,
  .page-home .services__col-right > p,
  .page-home .employees__description,
  .page-home .information__top > p,
  .page-home .information__col-right p,
  .page-home .information__col-right li,
  .page-home .information__body-parts-wrapper ul,
  .page-home .information__body-parts-wrapper p,
  .page-home .information__bottom > p,
  .page-home .post-scriptum__text p,
  .page-home .services__addresses li {
    font-size: 14px;
    line-height: 21px;
  }
  .page-home .priority .container {
    position: relative;
  }
  .page-home .priority__inner {
    justify-content: flex-start;
    padding-top: 134px;
    padding-bottom: 56px;
    padding-left: 0;
  }
  .page-home .priority__title-wrapper {
    max-width: 350px;
    margin-right: 14px;
  }
  .page-home .priority__title-wrapper p > br {
    display: none;
  }
  .page-home .priority__title {
    left: 12px;
    top: 40px;
  }
  .page-home .priority__title-wrapper p {
    margin-top: 0;
    padding-right: 23px;
    font-size: 40px;
    line-height: 45px;
  }
  .page-home .priority__list li {
    font-size: 14px;
    line-height: 21px;
    padding-left: 14px;
  }
  .page-home .priority__list li:not(:last-child) {
    margin-bottom: 14px;
  }
  .page-home .services__row {
    flex-direction: column;
  }
  .page-home .services__col-right {
    max-width: 100%;
    padding-top: 32px;
  }
  .page-home .services__col-right > p:not(:last-of-type) {
    margin-bottom: 21px;
  }
  .page-home .services__col-right > p:last-of-type {
    margin-bottom: 30px;
  }
  .page-home .services__col-right > p:nth-of-type(1) {
    padding-right: 60px;
  }
  .page-home .services__col-right > p:nth-of-type(2) {
    padding-right: 50px;
  }
  .page-home .services__col-right > p:nth-of-type(1n + 3 ) {
    padding-right: 10px;
  }
  .page-home .services__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .page-home .services__col-right .services__title {
    max-width: 550px;
    margin-bottom: 21px;
  }
  .page-home .services__col-right .services__title br:last-of-type {
    display: none;
  }
  .page-home .services__col-left {
    max-width: 100%;
    margin-right: 0;
    text-align: right;
  }
  .page-home .services .container {
    padding-top: 36px;
    padding-right: 40px;
    padding-bottom: 47px;
  }
  .page-home .services__title {
    margin-bottom: 20px;
  }
  .page-home .services__col-left p {
    font-size: 14px;
    line-height: 21px;
  }
  .page-home .services__addresses {
    margin-bottom: 30px;
  }
  .page-home .services__addresses li:not(:last-child) {
    margin-bottom: 21px;
  }
  .page-home .services__addresses li {
    max-width: 400px;
  }
  .page-home .services__addresses li br {
    display: none;
  }

  .page-home .services__price li:not(:last-child) {
    margin-bottom: 12px;
  }

  .page-home .services__price h5 {
    font-size: 24px;
    line-height: 30px;
  }
  .page-home .services__price p {
    font-size: 14px;
    line-height: 26px;
  }
  .page-home .employees .container {
    padding-top: 37px;
    padding-bottom: 29px;
  }

  .page-home .employees__title {
    margin-bottom: 40px;
    font-size: 65px;
    line-height: 70px;
  }
  .page-home .employees__title br {
    display: block;
  }
  .page-home .employees__list li {
    width: 100%;
    margin-bottom: 38px;
    align-items: center;
  }
  .page-home .employees__image {
    margin-right: 30px;
  }
  .page-home .employees__name {
    font-size: 21px;
    line-height: 26px;
  }
  .page-home .employees__description {
    margin-bottom: 15px;
  }

  .page-home .information__subtitle-bg {
    margin-bottom: 20px;
    padding: 9px 17px;
    font-size: 24px;
    line-height: 30px;
  }

  .page-home .information .container {
    flex-direction: column;
    position: relative;
    padding-top: 44px;
    padding-bottom: 165px;
  }
  .page-home .information__col-left {
    max-width: 100%;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-top: 0;
  }
  .page-home .information__top > p {
    margin-bottom: 21px;
  }
  .page-home .information__title {
    margin-bottom: 31px;
  }
  .page-home .information__subtitle-light {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 30px;
  }
  .page-home .information__subtitle-light br {
    display: block;
  }
  .page-home .information__col-right {
    max-width: 98%;
  }
  .page-home .information__col-right > p {
    margin-bottom: 22px;
  }
  .page-home .information__col-right > p:last-of-type {
    margin-bottom: 28px;
  }
  .page-home .information__bottom > p:last-of-type br {
    display: block;
  }
  .page-home .information__list {
    margin-bottom: 19px;
  }
  .page-home .information__body-parts-wrapper ul {
    margin-bottom: 22px;
  }
  .page-home .information__body-parts-wrapper p {
    margin-bottom: 21px;
  }
  .page-home .information__body-parts-wrapper p:nth-of-type(4) {
    padding-right: 10px;
  }
  .page-home .information__bottom {
    position: absolute;
    right: 40px;
    bottom: 53px;
    padding-left: 0;
  }
  .page-home .information__bottom > p:first-of-type {
    margin-bottom: 20px;
  }
  .page-home .post-scriptum .container {
    padding-top: 32px;
    padding-bottom: 63px;
    flex-direction: column;
  }

  .page-home .post-scriptum__title {
    font-size: 140px;
    line-height: 150px;
    margin: 0 0 10px -5px;
  }
  .page-home .post-scriptum__text {
    max-width: 689px;
    padding-top: 0;
  }
  .page-home .post-scriptum__text p:not(:last-child) {
    margin-bottom: 21px;
  }
}

@media(max-width: 768px) {
  .page-home .slider__content {
    flex-direction: column;
    bottom: 40px;
  }
  .page-home .slider__wrapper {
    width: 100%;
    padding-left: 10px;
  }
  .page-home .slider__word {
    font-size: 144px;
    line-height: 134px;
    margin-right: 0;
  }
  .page-home .slider__text {
    margin-bottom: 7px;
    font-size: 31.4px;
    line-height: 55px;
  }
  .page-home .slider__socials-link,
  .page-home .slider__socials-link svg {
    width: 37px;
    height: 37px;
  }
  .page-home .about .container {
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .page-home .about__title {
    margin-bottom: 10px;
  }

  .page-home .priority__title {
    left: 0;
    top: 30px;
  }

  .page-home .services__title {
    margin-bottom: 10px;
  }
  .page-home .services__title br:first-of-type {
    display: block;
  }
  .page-home .about__title,
  .page-home .priority__title,
  .page-home .services__title,
  .page-home .information__title,
  .page-home .about__title,
  .page-home .employees__title {
    font-size: 45px;
    line-height: 50px;
    padding-left: 0;
  }
  .page-home .about__title {
    margin-right: -10px;
  }

  .page-home .about__row {
    flex-direction: column;
  }

  .page-home .about__description {
    padding-top: 18px;
  }

  .page-home .about__subtitle {
    margin-right: 0;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .page-home .about__description p:first-of-type {
    margin-bottom: 18px;
  }
  .page-home .about__warning {
    margin-bottom: 16px;
    padding: 5px 13px;
    font-size: 20px;
    line-height: 30px;
  }
  .page-home .priority__list li {
    padding-left: 13px;
  }
  .page-home .priority__list li:not(:last-child) {
    margin-bottom: 14px;
  }
  .page-home .about__description p, .page-home .services__col-right > p, .page-home .employees__description,
  .page-home .information__top > p, .page-home .information__col-right p, .page-home .information__col-right li,
  .page-home .information__body-parts-wrapper ul, .page-home .information__body-parts-wrapper p, .page-home .information__bottom > p,
  .page-home .post-scriptum__text p,
  .page-home .priority__list li,
  .page-home .services__col-left p,
  .page-home .services__addresses,
  .page-home .services__price p {
    font-size: 13px;
    line-height: 18px;
  }

  .page-home .priority__inner {
    flex-direction: column;
    padding-top: 138px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .page-home .priority__title-wrapper p {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }

  .page-home .services .container {
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 35px;
  }
  .page-home .services__col-left {
    padding-right: 0;
  }
  .page-home .services__col-right {
    padding-top: 17px;
  }
  .page-home .services__col-right .services__title {
    max-width: 100%;
    margin-bottom: 11px;
  }
  .page-home .services__col-right > p:nth-of-type(n) {
    padding-right: 0;
  }
  .page-home .services__col-right > p:last-of-type {
    margin-bottom: 18px;
  }
  .page-home .services__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
  }
  .page-home .services__addresses li {
    font-size: 13px;
    line-height: 18px;
  }
  .page-home .services__addresses li:not(:last-child) {
    margin-bottom: 18px;
  }
  .page-home .services__price h5 {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 30px;
  }
  .page-home .services__addresses {
    margin-bottom: 26px;
  }

  .page-home .services__price {
    padding-top: 2px;
  }
  .page-home .services__price li:not(:last-child) {
    margin-bottom: 13px;
  }
  .page-home .employees .container {
    padding-top: 31px;
    padding-bottom: 15px;
  }
  .page-home .employees__title {
    max-width: 100%;
    margin-bottom: 31px;

  }
  .page-home .employees__title br {
    display: none;
  }
  .page-home .employees__list li {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;

  }
  .page-home .employees__image {
    min-width: 130px;
    min-height: 130px;
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .page-home .employees__name {
    font-size: 18px;
    line-height: 24px;
  }

  .page-home .information .container {
    padding-top: 35px;
    padding-bottom: 200px;
  }

  .page-home .information__col-left {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .page-home .information__top {
    padding-left: 0;
  }
  .page-home .information__top > p,
  .page-home .information__col-right > p,
  .page-home .post-scriptum__text p:not(:last-child) {
    margin-bottom: 18px;
  }
  .page-home .information__col-right > p:last-of-type {
    margin-bottom: 30px;
  }
  .page-home .information__col-right {
    max-width: 100%;
  }
  .page-home .information__title {
    margin-bottom: 18px;
    margin-left: -2px;
  }
  .page-home .information__subtitle-light {
    font-size: 20px;
    line-height: 26px;
  }
  .page-home .information__body-parts-wrapper p,
  .page-home .information__body-parts-wrapper p:nth-of-type(n) {
    padding-right: 0;
  }

  .page-home .information__bottom {
    right: 20px;
    bottom: 34px;
    padding-left: 20px;

  }
  .page-home .information__subtitle-bg {
    margin-bottom: 18px;
    padding: 5px 13px;
    font-size: 20px;
    line-height: 30px;
  }
  .page-home .information__bottom > p:first-of-type {
    margin-bottom: 18px;
  }
  .page-home .post-scriptum .container {
    padding-top: 18px;
    padding-bottom: 37px;
  }
  .page-home .post-scriptum__title {
    margin-bottom: 15px;
    font-size: 110px;
    line-height: 120px;
  }
}

@media (max-width: 500px) {
  .page-home .priority__title span,
  .page-home .about__title span,
  .page-home .services__title span,
  .page-home .employees__title span,
  .page-home .information__title span {
    display: inline-block;
  }
  .page-home .about__title,
  .page-home .priority__title,
  .page-home .services__title,
  .page-home .information__title,
  .page-home .services__col-right .services__title,
  .page-home .about__title,
  .page-home .employees__title {
    max-width: 284px;
  }
}
