<footer class="footer">
  <div class="container">
    <p>
      &copy; 2015 - 2023 НеКлиника «Ремонт Людей» - традиционная Остеопатия и Биодинамика. Не является медицинской организацией, медицинской информацией,
      медицинскими услугами, и вообще никак не связана с медициной. Вся информация на сайте несёт ознакомительный характер, выражает мнение автора, основанное
      исключительно на собственном богатом практическом опыте, ни к чему не призывает и не принуждает.
    </p>
  </div>
</footer>
