html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 18px;
  line-height: 26px;
  min-width: 340px;
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.breadcrumbs {
  margin-bottom: 38px;

  .container {
    display: flex;
    padding-top: 34px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: $newgrey;

    a {
      display: block;
      color: $newgrey;
      text-decoration: underline;
      transition: all .3s;
      &:hover {
        color: $newblack;
      }
    }

    span {
      display: block;

      &:not(:last-child) {
        margin: 0 15px;
      }
    }
  }
}

.navigation {
  &__links {
    margin-bottom: 70px;
    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    color: $newblack;
    transition: all .3s;
    position: relative;
    &:hover {
      opacity: .6;
    
    }
  }

  &__link-prev {
    padding-left: 20px;
    &::before {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.28253 14L9 12.3492L3.43493 7L9 1.65083L7.28253 6.26983e-07L-3.69967e-06 7L7.28253 14Z' fill='black'/%3e%3c/svg%3e ");
      position: absolute;
      left: 0;
    }
  }

  &__link-next {
    padding-right: 20px;
    &::after {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.71747 7.77128e-07L-2.88641e-07 1.65083L5.56507 7L-2.1592e-06 12.3492L1.71746 14L9 7L1.71747 7.77128e-07Z' fill='black'/%3e%3c/svg%3e ");
      position: absolute;
      right: 0;
    }
  }
}